<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gapp.season.notepad">
    <!--Android M 开始支持-->
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!--Android P 开始支持-->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application>
        <activity
            android:name=".NotePadActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoteEditActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>
</manifest>
