<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gapp.season.calculator">

    <application>
        <activity
            android:name=".CalculatorActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>
