<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gapp.season.webbrowser">

    <application>
        <activity
            android:name=".WebActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
