<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gapp.season.drawboard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".DrawBoardActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:launchMode="singleTop" />
    </application>
</manifest>
