<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gapp.season.musicplayer">

    <application>
        <service android:name=".MusicPlayerService" />
        <activity
            android:name=".MusicPlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="gapp.season.musicplayer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter
                android:label="播放音乐"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
